.container {
  /* font-family: "Poppins"; */
  padding: 1.2rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-inline: 2rem;
  height: 80vh;
}

.mainContainer_left {
  flex: 0.5;
  width: 50vw;
}
.mainContainer_right {
  flex: 0.5;
}

.mainContainer_right > img {
  width: 50vw;
}

.mainContainer_left > p:nth-child(1) {
  font-size: 2rem;
  background: -webkit-linear-gradient(25deg, #000, #9d9d9d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.mainContainer_left > p:nth-child(2) {
  font-size: 1.7rem;
  color: #4d4d4d;
}

.mainContainer_left > div.buttonJoin {
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  background-color: rgb(197, 44, 208);
  color: white;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  border-radius: 12px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }

  .mainContainer {
    flex-direction: column;
    padding: 4rem 0;
    height: 100vh;
    gap: 2rem;
  }

  .mainContainer_left {
    width: 80%;
  }

  .mainContainer_left > p:nth-child(1) {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .mainContainer_left > p:nth-child(2) {
    font-size: 1.1rem;
  }

  .mainContainer_left > div.buttonJoin {
    font-size: 1.3rem;
    padding: 0.4rem 1rem;
    border-radius: 10px;
  }

  .mainContainer_right > img {
    width: 80vw;
  }
}
